* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}


.container{
  display: flex;
  margin: auto auto;
  width: 50vw;
  justify-content: center;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
  width: 100%;
}

button{
  display: block;
  clear: left;
}
